# Python Bytecode Files
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Poetry
.poetry/
*.lock

# Virtual Environments
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Logs
*.log